.password {

}

.title {
	text-align: center;
	font-size: 18px;
	background-color: rgb(228, 77, 58);
	color: #fff;
	padding: 10px;
}

.form {
	padding: 10px;
}

.formTitle {
  font-size: 14px;
	margin-bottom: 10px;
}

.inputWrapper {
	position: relative;
	margin-bottom: 30px;
}

.input {
	max-width: 100%;
	width: 100%;
	border: 1px solid rgb(229, 229, 229);
	font-family: "Source Sans Pro";
	border-radius: 3px;
	color: #000;
	padding: 10px 10px 10px 45px;
	outline: none;
}

.inputWrapper::before {
	position: absolute;
	content: "";
	top: 50%;
	transform: translateY(-50%);
	left: 15px;
}

.password::before {
	width: 12px;
	height: 14px;
	background: url('../../../assets/images/Deactivate/password.png') no-repeat;
}

.forgotPassLink {
	font-size: 14px;
	display: inline-block;
	color: #242424;
	text-decoration: underline;
	margin-bottom: 30px;

}

.buttons {
	margin-bottom: 20px;
}

.saveBtn {
  font-size: 16px;
  color: rgb(255, 255, 255);
	border-radius: 3px;
  background-color: rgb(228, 77, 58);
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	margin-right: 10px;
}

.cancelBtn {
  font-size: 16px;
	border-radius: 3px;
	background-color: #fff;
	padding: 10px 15px;
	cursor: pointer;
	border: 1px solid rgb(229, 229, 229);
}