.container {
	display: grid;
	background-color: #fff;
	border-radius: 4px;
	grid-template-areas: 
    "messages-top dialogs-top"
    "dialogs messages"
    "dialogs dialogs-bottom";
	grid-template-columns: 340px auto;
	grid-template-rows: 100px 600px 125px;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
	margin-bottom: 30px;
}

.messagesTop {
	grid-area: messages-top;
	border: 1px solid #f2f2f2;
	display: flex;
	align-items: center;
	padding-left: 25px;
	font-size: 17px;
	font-weight: bold;

}

.dialogsTop {
	grid-area: dialogs-top;
	border: 1px solid #f2f2f2;
	display: flex;
	align-items: center;
	padding-left: 25px;
	font-size: 17px;
	font-weight: bold;
}

.img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 20px;
}

.titleName {
	font-size: 17px;
	font-weight: bold;
}

.onlineStatus {
	font-size: 14px;
	color: rgb(72, 240, 42);
}

.dialogs {
	overflow: auto;
	grid-area: dialogs;
	border: 1px solid #f2f2f2;
}

.dialog {
	display: flex;
	align-items: center;
	padding: 20px 25px;
	border-bottom: 1px solid #f2f2f2;
}

.link {
	font-size: 17px;
	color: #000;
	text-decoration: none;
}

.avatar {
	border-radius: 100%;
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.messages {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	grid-area: messages;
	border: 1px solid #f2f2f2;
	padding: 25px;
	overflow-y: auto;
}

.messageUser {
	max-width: 400px;
	font-size: 16px;
	color: rgb(104, 104, 104);
	border-radius: 12px;
  background-color: rgb(239, 239, 239);
	padding: 10px;
	margin-bottom: 25px;
}

.messageMe {
	display: inline-block;
	max-width: 400px;
	font-size: 16px;
	color: #fff;
	border-radius: 12px;
  background-color: rgb(228, 77, 58);
	padding: 10px;
	margin-bottom: 25px;
	margin-left: auto;
	text-align: right;
}

.wrapper {

}

.messageItem {
	display: flex;
	max-width: 100%;
	width: 100%;
}