.container {
	display: grid;
	background-color: #fff;
	border-radius: 4px;
	grid-template-areas: 
    "messages-top dialogs-top"
    "dialogs messages"
    "dialogs dialogs-bottom";
	grid-template-columns: 340px auto;
	grid-template-rows: 100px 600px 125px;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
}

.messagesTop {
	grid-area: messages-top;
	border: 1px solid #f2f2f2;
	display: flex;
	align-items: center;
	padding-left: 25px;
	font-size: 17px;
	font-weight: bold;

}

.dialogsTop {
	grid-area: dialogs-top;
	border: 1px solid #f2f2f2;
	display: flex;
	align-items: center;
	padding-left: 25px;
	font-size: 17px;
	font-weight: bold;
}

.img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 20px;
}

.titleName {
	font-size: 17px;
	font-weight: bold;
}

.onlineStatus {
	font-size: 14px;
	color: rgb(72, 240, 42);
}

.dialogs {
	grid-area: dialogs;
	border: 1px solid #f2f2f2;
}

.dialog {
	display: flex;
	align-items: center;
	padding: 20px 25px;
	border-bottom: 1px solid #f2f2f2;
}

.link {
	
}

.avatar {
	border-radius: 100%;
	background-color: rgb(229, 229, 229);
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.messages {
	grid-area: messages;
	border: 1px solid #f2f2f2;
}

.message {
	
}

.send {
	grid-area: dialogs-bottom;
	border: 1px solid #f2f2f2;
	background: #f3f5f7;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px;
	gap: 20px;
}

.wrapper {

}

.input {
	flex: 0 1 640px;
	border-radius: 3px;
	font-size: 16px;
	color: rgb(0, 0, 0);
	padding: 15px;
	border: none;
}

.input::placeholder {
	color: rgb(178, 178, 178);
}

.button {
	border-radius: 3px;
	background-color: rgb(228, 77, 58);
	padding: 15px 40px;
	color: #fff;
	font-size: 16px;
	border: none;
	cursor: pointer;
}