.wrapperStatus {
	padding: 5px 0px;
}

.inputStatus {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	display: inline-block;
	padding: 5px;
	outline: none;
	border: none;
}

.status {
	font-size: 16px;
	display: inline-block;
	padding: 5px;
	cursor: pointer;
  color: rgb(81, 165, 251);
  text-decoration: underline;
}