.contacts {

}

.contact {
	display: flex;
	align-items: center;
	padding: 20px;
	border-top: 1px solid rgb(229, 229, 229);
}

.icon {
	width: 14px;
	height: 14px;
	margin-right: 10px;
}

.link {
	font-size: 14px;
  color: rgb(81, 165, 251);
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}