.aboutUser {
	background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
}

.title {
	padding: 25px 20px;
	border-bottom: 1px solid rgb(229, 229, 229);
	font-size: 18px;
}

.block {
	border-bottom: 1px solid rgb(229, 229, 229);
}

.ratingTitle {
  font-size: 14px;
	margin-bottom: 15px;
}

.ratingSubtitle {
  font-size: 14px;
  color: rgb(228, 77, 58);
	margin-bottom: 15px;
}

.block {
	font-size: 14px;
	padding: 20px;
}

.subtitle {
	margin-bottom: 15px;
}

.text {
  color: rgb(104, 104, 104);
}