.bids {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.card {
	padding: 30px 20px;
	border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
}

.title {
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 1.111;
	margin-bottom: 15px;
}

.date {
  font-size: 14px;
  color: rgb(104, 104, 104);
  line-height: 1.429;
	margin-bottom: 20px;
}

.budget {
	display: flex;
	gap: 50px;
}

.budgetCol {
	margin-bottom: 30px;
}

.budgetText {
	margin-bottom: 15px;
	font-size: 14px;
  line-height: 1.429;
}

.budgetPrice {
  font-size: 14px;
  color: rgb(104, 104, 104);
  line-height: 1.429;
}

.buttons {
	display: flex;
	align-items: center;
	gap: 10px;
}

.bidders {
	max-width: 110px;
	display: flex;
	gap: 10px;
	align-items: center;
  border-radius: 3px;
  background-color: rgb(228, 77, 58);
	padding: 5px 10px 5px 5px;

	font-size: 14px;
  color: rgb(255, 255, 255);
}


.num {
	padding: 2px 7px;
	border-radius: 3px;
  background-color: rgb(189, 46, 28);
}

.text {

}

.edit {
	width: 30px;
	height: 30px;
	position: relative;
	border: 1px solid rgb(229, 229, 229);
	border-radius: 3px;
	cursor: pointer;
}

.edit:before {
	position: absolute;
	content: "";
	width: 17px;
	height: 15px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url("../../../assets/images/Jobs/edit.png") no-repeat;
	background-size: contain;
}

.delete {
	width: 30px;
	height: 30px;
	position: relative;
	border: 1px solid rgb(229, 229, 229);
	border-radius: 3px;
	cursor: pointer;
}

.delete:before {
	position: absolute;
	content: "";
	width: 14px;
	height: 15px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url("../../../assets/images/Jobs/delete.png") no-repeat;
	background-size: contain;
}
