.friends {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
}

.friendsHeader {
	border-bottom: 1px solid #f2f2f2;
}

.friendsTitle {
	padding: 25px 20px 20px;
	font-size: 18px;
	font-weight: 700;
	font-family: "Source Sans Pro";
}

.friendsBody {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	padding: 20px;
}

.friend {
	border-radius: 3px;
	width: 70px;
	height: 70px;
	
}