.header {
	background-color: rgb(228, 77, 58);
}

.container {
	display: flex;
	align-items: center;
	max-width: 1170px;
	padding: 10px 20px;
	margin: 0 auto;
}

.input {
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
	width: 280px;
	padding: 10px;

	font-size: 12px;
	font-family: "Source Sans Pro";
	color: rgb(178, 178, 178);
	line-height: 1.667;
}