.login {
  background: rgb(228, 77, 58);
	width: 100vw;
	position: relative;
	margin-left: -50vw;
	left: 50%;
	min-height: 100vh;
	overflow: hidden;
}

.container {
	display: flex;
	justify-content: space-between;
	max-width: 870px;
	width: 100%;
	margin: 100px auto 100px;
	border-radius: 3px;
	padding: 30px 50px 80px;
	background: 
		url('../../assets/images/Login/login-img.png') bottom 75px left no-repeat,#ffffff;
}

.column1 {
	flex: 0 1 390px;
}

.titleBlock {
	display: flex;
	align-items: center;
	margin-top: 55px;
	margin-bottom: 35px;
}

.logo {
	margin-right: 15px;
}

.title {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.text {
  font-size: 14px;
  color: rgb(0, 0, 0);
  line-height: 1.714;
}

.signIn {
  font-size: 12px;
	max-width: 60px;
	color: #ffffff;
  background-color: rgb(228, 77, 58);
	padding: 8px 12px;
	border-radius: 3px;
	margin-left: auto;
	margin-bottom: 80px;
}

.subtitle {
	margin-bottom: 40px;
}

.column2 {
	flex: 0 1 310px;
}