.container {

}
.wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 30px;
	margin-bottom: 30px;
}
/*  */
.column1 {
	max-width: 270px;
	width: 100%;
}
.column1Wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 20px;
	position: relative;
}
.column1Inner {
	padding: 110px 0px 0px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
}
.mainPhoto {
	position: absolute;
	width: 170px;
	height: 170px;
	top: -80px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	border: 5px solid #ffffff;
	background-color: #ffffff;
}

.labelMainPhoto {
	cursor: pointer;
}

.btnPhotoWrapper {
	position: absolute;
	top: 0;
	right: 0;
}

.btnMainPhoto {
  visibility:hidden;
  width:0;
  height:0;
	top: 0;
	right: 0;
}
.mainPhoto img {
	object-fit: cover;
	max-width: 100%;
	height: auto;
	border-radius: 50%;
}
.buttonsWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
	margin-bottom: 30px;
}
.buttonFollow {
	cursor: pointer;
	border: none;
	border-radius: 3px;
	background-color: rgb(83, 214, 144);
	width: 100px;
	height: 40px;
	font-size: 16px;
	font-family: "Source Sans Pro";
	color: rgb(255, 255, 255);
	line-height: 1.25;
}
.buttonMessage {
	cursor: pointer;
	border: none;
	border-radius: 3px;
	background-color: rgb(228, 77, 58);
	width: 100px;
	height: 40px;
	font-size: 16px;
	font-family: "Source Sans Pro";
	color: rgb(255, 255, 255);
	line-height: 1.25;
}
/*  */
.column2 {
	max-width: 610px;
	background: transparent;
	width: 100%;
}
.column3 {
	max-width: 270px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 20px;
	position: relative;
}

/*  */
.user {
	padding-top: 30px;
}

.nameWrapper {
	position: relative;
}

.name {
	font-size: 40px;
	display: inline-block;
	padding: 5px 0px;
	line-height: 1;
	margin-bottom: 5px;
}

.inputName {
	max-width: 90%;
	width: 100%;
	font-size: 40px;
	display: inline-block;
	padding: 5px;
	outline: none;
	border: none;
	line-height: 1;
}

.editNameIcon {
	position: absolute;
	top: 0;
	right: 0;
	width: 12px;
	height: 12px;
	cursor: pointer;
}

.editNameIconNone {
	display: none;
}

.nameForm {
	position: relative;
}

.submitNameButton {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	background: transparent;
	cursor: pointer;
	font-size: 25px;
	line-height: 0.5;
}

.errorName {
	position: absolute;
	top: -20px;
	color: rgb(178, 178, 178);
	font-size: 14px;
}

/*  */
.aboutMeWrapper {
	padding: 5px 0px;
}

.aboutMe {
	display: inline-block;
	font-size: 18px;
	font-family: "Source Sans Pro";
	color: rgb(104, 104, 104);
	line-height: 1.111;
}

.inputAboutMe {
	max-width: 90%;
	width: 100%;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	display: inline-block;
	padding: 5px;
	outline: none;
	border: none;
}

.contact {
	display: flex;
	align-items: center;
	padding: 20px;
	border-top: 1px solid rgb(229, 229, 229);
}

.icon {
	width: 14px;
	height: 14px;
	margin-right: 10px;
}

.link {
	font-size: 14px;
  color: rgb(81, 165, 251);
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* ContactsData */

.contactsData {
	position: relative;
}

.iconButton {
	position: absolute;
	top: 5px;
	right: 5px;
}

.iconButton span {
	cursor: pointer;
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: rgb(178, 178, 178);
	margin-bottom: 1px;
}

.showButtonEdit {
	position: absolute;
	display: block;
	right: 15px;
	top: -15px;
}

.hideButtonEdit {
	display: none;
}